/* Extra small devices (phones, 460px and down) */
@media only screen and (max-width: $mobile-breakpoint) {
    .app-footer {
        /* MAIN FOOTER */

        background-color: $clr7;

        display: flex;
        flex-direction: row;
        justify-content: center;

        align-items: center;
        height: 80px;
        width: 100%;

        z-index: 10;
        position: fixed;
        bottom: 0;

        padding-block-start: 20px;
        padding-block-end: 20px;

        p {
            color: $clr8;
            margin: 0;
        }

        background-image: linear-gradient(180deg, $clr7 65%, $clr1 100%);
    }

    .social-nav {
        margin: 0;
    }

    .footer-image-logo {
        height: 51px;
        width: 63px;
        margin: 0 20px;
        border-color: $clr8;
        border-width: 1px;
        border-radius: 10px;
        border-style: solid;
    }
    .social-icon {
        border-width: 6px;
        height: 40px;
        width: 40px;
        margin: 0 10px;
    }
}

/* Medium devices (landscape tablets, 720px and up) */
@media only screen and (min-width: $narrow-breakpoint) {
    .app-footer {
        /* MAIN FOOTER */

        background-color: $clr7;

        display: flex;
        flex-direction: row;
        justify-content: center;

        align-items: center;
        height: 80px;
        width: 100%;

        z-index: 10;
        position: fixed;
        bottom: 0;

        padding-block-start: 20px;
        padding-block-end: 20px;

        p {
            color: $clr8;
            margin: 0;
        }

        background-image: linear-gradient(180deg, $clr7 65%, $clr1 100%);
    }

    .social-nav {
        margin: 0;
    }

    .footer-image-logo {
        height: 51px;
        width: 63px;
        margin: 0 20px;
        border-color: $clr8;
        border-width: 1px;
        border-radius: 10px;
        border-style: solid;
    }
    .social-icon {
        border-width: 6px;
        height: 40px;
        width: 40px;
        margin: 0 10px;
    }
}

/* Large devices (laptops/desktops, 960px and up) */
@media only screen and (min-width: $normal-breakpoint) {
    .app-footer {
        /* MAIN FOOTER */

        background-color: $clr7;

        display: flex;
        flex-direction: row;
        justify-content: center;

        align-items: center;
        height: 80px;
        width: 100%;

        z-index: 10;
        position: fixed;
        bottom: 0;

        padding-block-start: 20px;
        padding-block-end: 20px;

        p {
            color: $clr8;
            margin: 0;
        }

        background-image: linear-gradient(180deg, $clr7 65%, $clr1 100%);
    }

    .social-nav {
        margin: 0;
    }

    .footer-image-logo {
        height: 51px;
        width: 63px;
        margin: 0 20px;
        border-color: $clr8;
        border-width: 1px;
        border-radius: 10px;
        border-style: solid;
    }
    .social-icon {
        border-width: 6px;
        height: 40px;
        width: 40px;
        margin: 0 10px;
    }
}
