.app-main {
    .music-little-ones-app-page {
        background-color: $clr1;
        background-repeat: no-repeat;
        background-size: 100%;

        h2 {
            font-family:SecularOne;
            font-size: 1.5rem;
            padding: 1rem , 0, 1rem, 1rem;
        }
        
        .music-little-ones-app-page-about {
            width: 100%;
            font-size: 1rem;
            padding: 1rem;
            color:#ffffff;
        }
    }
}

.body-size {
    margin: 0 auto;
    max-width: $normal-breakpoint;
}

.flayer-image{
    margin-top:10px;
    width:100%;
}