@font-face {
    font-family: SecularOne;
    src: url(../../font/SecularOne/SecularOne.ttf);
}
@font-face {
    font-family: VarelaRound;
    src: url(../../font/VarelaRound/VarelaRound.ttf);
}
@font-face {
    font-family: Hadasim;
    src: url(../../font/Hadasim/Hadasim.ttf);
}
@font-face {
    font-family: Rubik;
    src: url(../../font/Rubik/Rubik.ttf);
}
